---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }} 
      {% if page.cv_pdf %}
        <a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right">
          <i class="fas fa-file-pdf"></i>
        </a>
      {% endif %}
    </h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    <div class="row">
      
      <div class="col-md-3 d-none d-md-block">
        <nav id="cv-navigation" class="sticky-top" style="top: 5rem; z-index: 1;">
          <ul class="nav flex-column font-weight-medium">
            {% for entry in site.data.cv %}
              <li class="nav-item mb-2">
                <a class="nav-link p-0 text-muted" href="#{{ entry.title | slugify }}">{{ entry.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>

      <div class="col-md-9">
        <div class="cv">
          {% for entry in site.data.cv %}
            <div id="{{ entry.title | slugify }}" class="card mt-3 p-3" style="scroll-margin-top: 5rem;">
              <h3 class="card-title font-weight-medium">{{ entry.title }}</h3>
              <div>
                {% if entry.type == "list" %}
                  {% include cv/list.html %}
                {% elsif entry.type == "map" %}
                  {% include cv/map.html %}
                {% elsif entry.type == "nested_list" %}
                  {% include cv/nested_list.html %}
                {% elsif entry.type == "time_table" %}
                  {% include cv/time_table.html %}
                {% else %}
                  {{ entry.contents }}
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

    </div>
  </article>

</div>
